* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  padding: 1rem;
  background: beige;
  width: 50%vpw;
}
.top > h1 {
  background: linear-gradient(180deg, rgb(2, 181, 247) 0%, rgb(7, 7, 240) 100%);
  padding: 2em;
  color: white;
  text-align: center;
}
nav > ul {
  display: block;
  list-style-type: none;
}

nav > ul > li {
  height: 5.5em;
}

nav > ul > li > a {
  display: flex;
  background: linear-gradient(180deg, rgb(2, 181, 247) 0%, rgb(7, 7, 240) 100%);
  border: 2px solid black;
  padding: 0.5em;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: white;
  transition: color 0.3s linear;
}

nav > ul > li > a:hover {
  color: rgb(247, 7, 227);
  font-size: 2em;
  transition: color 0.1s linear;
}
.silhouette {
  display: flex;
}
.silhouette p {
  border: 3px solid rgb(97, 1, 97);
  background-color: darkred;
  color: white;
  text-align: center;
  width: 50%;
  padding: 0.75em;
}
.styles {
  height: 35em;
}
h2 {
  background: linear-gradient(180deg, rgb(2, 181, 247) 0%, rgb(7, 7, 240) 100%);
  padding: 1em;
  color: white;
}
ol {
  background: linear-gradient(180deg, rgb(2, 181, 247) 0%, rgb(7, 7, 240) 100%);
  padding: 2em;
  list-style-type: none;
}
ol > li > a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}
h2 :hover {
  color: rgb(247, 7, 227);
  font-size: 1.25em;
  transition: color 0s linear;
}
.torso {
  display: flex;
  flex-direction: column;
  height: 30em;
  position: relative;
  top: 1.5em;
  border: 2px solid black;
  padding: 2em;
  background-color: darkred;
}
.torso:hover {
  transition: 1s linear;
  background: linear-gradient(135deg, rgb(245, 7, 138) 0%, rgb(7, 7, 240) 100%);
  border-radius: 100%;
  padding: 2.7em;
  font-size: 2em;
}
.shapes {
  flex-direction: column;
  position: relative;
  top: 1em;
  height: 9em;
}
.shapes label {
  background-color: rgb(245, 225, 8);
  border: 0.25em solid black;
  border-radius: 1em;
  padding: 0.5em;
  color: black;
}
.armhole {
  display: flex;
  height: 44em;
}
.armhole p {
  border: 3px solid rgb(97, 1, 97);
  background-color: darkred;
  color: white;
  text-align: center;
  width: 50%;
  padding: 0.75em;
}
.armhole .torso:hover {
  transition: 1s linear;
  background: linear-gradient(135deg, rgb(245, 7, 138) 0%, rgb(7, 7, 240) 100%);
  border-radius: 100%;
  padding: 2.8em;
  font-size: 2em;
}
.sleeve {
  height: 42em;
  display: flex;
  justify-content: left;
}

.sleeve2 {
  height: 34em;
  display: flex;
  justify-content: left;
}
p a {
  text-decoration: none;
  color: white;
}
.sleeve p {
  border: 3px solid rgb(97, 1, 97);
  background-color: darkred;
  color: white;
  text-align: center;
  width: 50%;
  padding: 1.25em;
}
.sleeve2 p {
  border: 3px solid rgb(97, 1, 97);
  background-color: darkred;
  color: white;
  text-align: center;
  width: 50%;
  padding: 1.25em;
}
.arm {
  display: flex;
  flex-direction: column;
  height: 30em;
  position: relative;
  top: 1.5em;
  border: 2px solid black;
  padding: 1em;
  background-color: orange;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
.sleeve .arm:hover {
  transition: 1s linear;
  background: linear-gradient(
    135deg,
    rgb(247, 189, 153) 0%,
    rgb(241, 221, 70) 35%,
    rgb(7, 236, 240) 100%
  );
  padding: 3.5em;
  font-size: 1.5em;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  border-radius: 50%;
  height: 30em;
}

.sleeve2 .arm:hover {
  transition: 1s linear;
  background: linear-gradient(
    135deg,
    rgb(247, 189, 153) 0%,
    rgb(241, 221, 70) 35%,
    rgb(7, 236, 240) 100%
  );
  padding: 3.5em;
  font-size: 1.5em;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  border-radius: 50%;
  height: 30em;
}
.sleevebutton {
  height: 4em;
}
.button {
  background: linear-gradient(180deg, rgb(2, 181, 247) 0%, rgb(7, 7, 240) 100%);
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}
