* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  padding: 1rem;
  background: rgb(247, 166, 4);
  width: 100%;
}
.top > h1 {
  border: 3px solid rgb(97, 1, 97);
  background-color: rgb(146, 53, 146);
  color: white;
  text-align: center;
}
nav > ul {
  display: block;
  list-style-type: none;
}

nav > ul > li {
  height: 5.5em;
}

nav > ul > li > a {
  display: flex;
  background-color: rgb(146, 53, 146);
  border: 2px solid black;
  padding: 1em;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: white;
  transition: color 0.3s linear;
}

nav > ul > li > a:hover {
  color: rgb(4, 248, 33);
  font-size: 2em;
  transition: color 0.1s linear;
}
